body {
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;;
}

.odd {
    background-color: lightcoral;
    color: black;
    font-size: 20px;
}

.one {
    font-size: 20px;
}

#two {
    font-size: 40px;
    color: blue;
}

.three {
    font-size: 30px;
    font-weight: bold;
}

.four {
    font-size: 30px;
    background-color: lightgreen;
}